<div class="container">
	<h3><input ng-model="query" placeholder="Search for item name or description" autofocus class="querykey"></h3>

	<div class="row">
		<div class="col-xs-7 col-md-8 col-sm-8 col-lg-8">
			<div class="panel panel-primary itemhead" ng-repeat="q in shopData | filter: query">
				<div class="panel-heading">
					<h3 class="panel-title">{{q.item}} <input type="number" class="span1 form-control" min="0" ng-model="q.num" ng-value="{{q.num}}"></h3>
					
				</div>		
				<div class="panel-title desc">{{q.description}}</div>	
				<check-list name="q.id" selected="q.selected" option="q.prices"></check-list>
			</div>
		</div>

		<div class="col-xs-5 col-md-4 col-sm-4 col-lg-4" ng-class="{'affix': scroll > 50, 'affix-top': scroll <= 50}">
			<div class="panel panel-primary">
				<div id="divTotal" class="panel-heading">
						<h3 class="panel-title">Total</h3>
				</div>
				<div class="panel-body">
						<h2>USD {{total()}}</h2>
				</div>
			</div>

			<div class="text-center">
				<a href="#/checkout" class="btn btn-info">Checkout <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
				</a>
			</div>
		</div>
	</div>
	
</div>
<get-scroll scroll="scroll"></get-scroll>
	